langgraph
langchain-core
langchain-community
pypdf
bs4
readability-lxml
pymupdf
dotenv
langchain-cohere
langchain
psycopg2-binary
rank_bm25
langchain-huggingface
langchain-tavily
fastapi
uvicorn
pgvector
markdown_pdf
langchain-google-genai
sentence-transformers