langgraph
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-huggingface
langchain-google-genai
langchain-tavily
pypdf
beautifulsoup4
python-dotenv
fastapi
uvicorn
pydantic
psycopg2-binary
pgvector
rank_bm25
markdown_pdf
requests
sentence-transformers